body
{
    background-color: #6155a6;
}
.button {
  background-color: #ffabe1;
  border: none;
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 40px;
}
.center
{
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 50%;
}
  .checkout
  {
    border: solid;
    border-color: gray;
    background-color: #ffe6e6;
    display: inline-block;
  }
.confirm
{
  text-align: center;
  font-size: 25px;
}
.ctc
{
  width: 40%;
  color: #ffe6e6;
  margin: 0;
}
h1
{
    font-size: 750%;
    color: #ffe6e6;
    text-align: center;
}
.home
{
    color: #ffe6e6;
    font-size: 300%;
    text-align: center;
    
}
.homep
{
    text-align: center;
    font-size: 200%;
       
}
  img
  {
    width: 300px;
    height: 300px;
  }
.info
{
  display: inline-block;
}
.inline
{
    display: inline-block;
}
input
{
  display: inline-block;
}
label
{
  text-align: left;
}
 li {
    float: left;
    font-size: 300%;
    font-weight: bold;
  }
  li a {
    display: block;
    color: #ffe6e6;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  li a:hover {
    background-color: #ad6c80;
  }

.pay
{
  border: solid;
  font-size: 25px;
  color: black;
}
.pic
{
  padding-left: 25px;
  line-height: 25px;
}

.shoes
{
  border-spacing: 5;
}
.title
  {
    font-size: 25px;
    font-weight: bold;
    position: relative;
    bottom: 100px;    
  }
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #ffabe1;
  }
  
 
  



   
